<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search My Moodle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <style rel="stylesheet">
        .link {
            color: #3273dc !important;
        }
    </style>
</head>

<body>
<section class="hero is-info is-fullheight">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Изход
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">

        <div class="container has-text-centered">
            {% if current_user.is_authenticated %}
                <nav class="tabs is-boxed" style="margin-bottom: 0px;">
                    <ul>
                        <li {% if active_page == "courses" %} class="is-active"{% endif%}>
                            <a href="{{ url_for('main.courses') }}">Курсове</a>
                        </li>
                        <li {% if active_page == "forums" %} class="is-active"{% endif%}>
                            <a href="{{ url_for('main.forums') }}">Форуми</a>
                        </li>
                        <li {% if active_page == "discussions" %} class="is-active"{% endif%}>
                            <a>Дискусии</a>
                        </li>
                        <li {% if active_page == "discussion_posts" %} class="is-active"{% endif%}>
                            <a>Отговори</a>
                        </li>
                        <li {% if active_page == "attachments" %} class="is-active"{% endif%}>
                            <a>Файлове</a>
                        </li>
                        <li {% if active_page == "assignments" %} class="is-active"{% endif%}>
                            <a>Задания</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>